version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nx-microservices-postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '${POSTGRES_EXPOSED_PORT:-5432}:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
